<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="styles/homepage.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet" />
	<title>Blog</title>
</head>

<body>
	<%-include('partials/header.ejs')%>

		<div class="hero">
			<div class="container">
				<h1 class="h1">IdeaShare</h1>
				<p>
					Welcome to IdeaShare, your go-to platform for sharing thoughts, ideas,
					and creativity with the world! Whether you're an aspiring writer, a
					passionate thinker, or simply someone with something to say, IdeaShare
					provides the perfect space to express yourself. Our user-friendly
					interface allows you to easily post your articles, stories, opinions,
					and more. Connect with a vibrant community, receive feedback, and
					inspire others with your unique perspective. At IdeaShare, we believe
					every voice matters. Join us today and start sharing your ideas,
					because your words have the power to make a difference!
				</p>

				<a href="/create" style="text-decoration:none"><button type="submit"
						class="btn btn-outline-success">Create</button></a>

			</div>
		</div>
		<hr />
		<%if(locals.posts){%>
			<h2>Posts</h2>
			<div class="posts">

				<%posts.forEach(item=> { %>
					<div class="card" style="background: rgba(255, 255, 255, 0.2);">
						<div class="middle">
							<div class="card-body">
								<h1>
									<%= item.title %>
								</h1>
								<p>
									<%= item.content %>
								</p>
								<p>Created on: <%=item.date%>
								</p>
								<h4>By - <%= item.author %>
								</h4>
							</div>
							<%if((item.content).length>250){%>
								<button class="view-more-btn btn btn-info">View More</button>
								<%}%>

									<form action="/edit" method="post" style="display: inline">
										<input type="hidden" name="ItemId" value="<%= item.id %>" />
										<button class="btn btn-primary" type="submit">Edit</button>
									</form>
									<form action="/delete" method="POST" style="display: inline">
										<input type="hidden" name="deletedItemId" value="<%= item.id %>" />
										<button class="btn btn-primary" type="submit">Delete</button>
									</form>
						</div>
</div>

					<% }) }%>
			</div>
			<script>

				const viewMoreButtons = document.querySelectorAll('.view-more-btn');

				viewMoreButtons.forEach(button => {
					button.addEventListener('click', function () {

						const container = this.parentElement;


						container.classList.toggle('expanded');


						if (container.classList.contains('expanded')) {
							this.textContent = 'View Less';
						} else {
							this.textContent = 'View More';
						}
					});
				});

			</script>
</body>

</html>